.image__list {
    background-color: #fff5f1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image__item {
    width: 500px;
    margin: 10px 0;
  }
  
  .image__link {
    text-decoration: none;
    display: block;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
  }
  
  .image__link:hover {
    transform: scale(1.05);
  }
  
  .image__thumbnail {
    max-width: 100%;
    height: auto;
    display: block;
    width: 500px;
    height: 700px; 
  }
  